<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PureExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PureExporter.Properties.Settings>
            <setting name="WebserviceURL" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOrganisationRefresh" serializeAs="String">
                <value />
            </setting>
            <setting name="APIVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugResponses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugRequests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConversionXSLTLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PublicationXSDLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ModificationXSLTLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportDownloadFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportDownloadURL" serializeAs="String">
                <value />
            </setting>
        </PureExporter.Properties.Settings>
    </userSettings>
</configuration>